* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  // font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app {
  flex: 1;
}

.navbar {
  .dropdown-item {
    &.active {
      background: initial;
      color: initial;
    }
    &:hover {
      background-color: #f8f9fa;
    }
  }
}

.list-group-item {
  .form-control {
    padding: 0.3rem;
    text-align-last: center;
  }

  .col {
    display: flex;
    align-items: center;
  }
}

.cart-page,
.edit-page {
  .row {
    align-items: center;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 1rem;
    }

    .fa-chevron-left {
      margin: 0 0.7rem;
    }
  }

  .card {
    h4 {
      font-size: 0.8rem;
    }
  }
}

.edit-page {
  .fa-chevron-left {
    margin: 0 0.7rem;
  }
}

.product-list {
  tr {
    text-align: center;

    td {
      vertical-align: middle;

      &:last-child {
        width: 7rem;
      }
    }
  }
}


.carousel {
  margin-bottom: 2rem;
}

.carousel-caption {
  position: initial;
  width: 500px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  display: block;
}

.carousel-control-prev span,
.carousel-control-next span {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.carousel-control-prev span {
  left: 2rem;
}

.carousel-control-next span {
  right: 2rem;
}

.carousel-inner {
  a {
    display: flex;
    align-items: center;
  }
  h2 {
    color: #fff;
  }
  img {
    height: 250px;
    margin: 40px 40px 40px 80px;
    border-radius: 50%;
  }
}


@media (max-width: 768px) {
  .carousel-inner {
    padding: 2rem 0;
    .carousel-caption {
      width: 330px;
    }
  a {
    flex-direction: column;
  }
  
  img {
    height: 150px;
    margin: 1rem;
  }

  h2 {
    font-size: 1rem;
  }
}

}